.bpmn-icon-lane.red {
    color: #cc0000 !important;
}

.bpmn-icon-lane.green {
    color: #008000!important;
}

.bpmn-icon-lane.blue {
    color: #0000FF !important;
}

.bpmn-icon-lane.orange {
    color: #FF8C00 !important
}